{% extends 'base.html' %}

{% block pageheading %}
menu
{% endblock %}

{% block main %}
    <div class="category-menu">
        {% for category in categories %}
        <div class="category-item"><h2><a href="/menu/{{ category[0] }}">{{ category[1] }}</a></h2></div>
        {% endfor %}
    </div>
    <div class="products">
        {% for product in products %}
        <div class="product-box">
            <div class="product-box-heading">
                <h2>{{ product[1] }}</h2>
            </div>
            <div class = "product-box-image">
                <img src ="/static/images/{{ product[4] }}.jpg">
            </div>
            <div class="product-box-info">
                <p><strong>Size:</strong> {{ product[3] }}</p>
                <p><strong>Price:</strong> ${{ product[5] }}</p>
            </div>
            {% if ordering %}
                <div class="product-box-info"><a href="/add_to_cart/{{ product[0] }}"> Add to cart </a></div>
            {% endif %}
        </div>
        {% endfor %}

    </div>
{% endblock %}